<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pado.socialdiary.api.diary.mapper.DiaryMapper">
  <insert id="insert" parameterType="com.pado.socialdiary.api.diary.entity.Diary" useGeneratedKeys="true">
    <selectKey keyColumn="DIARY_ID" keyProperty="diaryId" resultType="Integer" order="AFTER">
      SELECT LAST_INSERT_ID()
    </selectKey>
    INSERT INTO TB_DIARY(MEMBER_ID, TITLE, CONTENTS, REG_ID, REG_DT, UPD_ID, UPD_DT)
    VALUES (#{memberId}, #{title}, #{contents}, #{memberId}, NOW(), #{memberId}, NOW())
  </insert>

  <insert id="saveHistory" parameterType="com.pado.socialdiary.api.diary.entity.DiaryHistory" useGeneratedKeys="true">
    INSERT INTO TB_DIARY_HISTORY(DIARY_ID, MEMBER_ID, TITLE, CONTENTS, REG_ID, REG_DT, UPD_ID, UPD_DT)
    VALUES (#{diaryId}, #{memberId}, #{title}, #{contents}, #{memberId}, NOW(), #{memberId}, NOW())
  </insert>

  <select id="getByDiaryId" resultType="com.pado.socialdiary.api.diary.entity.Diary">
    SELECT * FROM TB_DIARY WHERE DIARY_ID=#{diaryId}
  </select>

  <select id="select" resultType="com.pado.socialdiary.api.diary.dto.DiaryResponse">
    SELECT
      DIARY_ID,
      MEMBER_ID,
      TITLE,
      CONTENTS,
      REG_DT
    FROM TB_DIARY
    WHERE MEMBER_ID=#{memberId} AND DATE_FORMAT(REG_DT, '%Y-%m-%d') = DATE_FORMAT(#{regDt},'%Y-%m-%d')
    ORDER BY DIARY_ID DESC
  </select>

  <select id="selectDate" resultType="string">
    SELECT DAY(REG_DT) AS DAY FROM TB_DIARY
    WHERE MEMBER_ID=#{memberId} AND MONTH(REG_DT)=MONTH(#{regDt})
  </select>

  <select id="selectAll" parameterType="hashmap" resultType="com.pado.socialdiary.api.diary.entity.Diary">
    SELECT * FROM TB_DIARY
    WHERE MEMBER_ID IN
    <foreach collection="followeeList" item="followee" open="(" close=")" separator=",">
      #{followee}
    </foreach>
    <if test="cursorPageable.cursor != null">
    AND DIARY_ID &lt; #{cursorPageable.cursor}
    </if>
    ORDER BY DIARY_ID DESC
    LIMIT #{cursorPageable.pageSize}
  </select>

  <update id="update" parameterType="com.pado.socialdiary.api.diary.entity.Diary">
    UPDATE TB_DIARY SET MEMBER_ID = #{memberId}, TITLE = #{title}, CONTENTS = #{contents}, UPD_ID = #{memberId}, UPD_DT = NOW() WHERE DIARY_ID = #{diaryId}
  </update>

  <delete id="delete">
    DELETE FROM TB_DIARY WHERE DIARY_ID = #{diaryId}
  </delete>

  <delete id="deleteHistory">
    DELETE FROM TB_DIARY_HISTORY WHERE DIARY_ID = #{diaryId}
  </delete>

  <select id="findDiaryCommentsByDiaryIds" resultType="com.pado.socialdiary.api.diary.dto.DiaryCommentResponse" parameterType="java.util.List">
    SELECT
      TB_DIARY_COMMENT.DIARY_COMMENT_ID,
      TB_DIARY_COMMENT.DIARY_ID,
      TB_DIARY_COMMENT.MEMBER_ID,
      TB_MEMBER.NICKNAME,
      TB_DIARY_COMMENT.CONTENTS,
      TB_DIARY_COMMENT.DEL_AT,
      TB_DIARY_COMMENT.REG_DT
    FROM TB_DIARY_COMMENT
    INNER JOIN TB_MEMBER ON TB_DIARY_COMMENT.MEMBER_ID = TB_MEMBER.MEMBER_ID
      WHERE DEL_AT = 'N'
            AND DIARY_ID IN
        <foreach collection="diaryIds" item="id" open="(" close=")" separator=",">
          ${id}
        </foreach>
    ORDER BY REG_DT DESC
  </select>

  <select id="findDiaryCommentById" resultType="com.pado.socialdiary.api.diary.entity.DiaryComment">
    SELECT
        *
    FROM TB_DIARY_COMMENT
    WHERE
        DIARY_COMMENT_ID = #{diaryCommentId}
  </select>
  <select id="findDiaryCommentsByDiaryId" resultType="com.pado.socialdiary.api.diary.dto.DiaryCommentResponse" parameterType="java.lang.Integer">
    SELECT
      DIARY_COMMENT_ID,
      DIARY_ID,
      MEMBER_ID,
      CONTENTS,
      DEL_AT,
      REG_DT
    FROM TB_DIARY_COMMENT
      WHERE DEL_AT = 'N'
        AND DIARY_ID = #{diaryId}
    ORDER BY REG_DT DESC
  </select>

  <insert id="saveDiaryComment" useGeneratedKeys="true" keyProperty="diaryCommentId">
    INSERT INTO TB_DIARY_COMMENT (DIARY_ID,MEMBER_ID,CONTENTS,DEL_AT,REG_ID,REG_DT,UPD_ID,UPD_DT)
    VALUES (#{diaryId}, #{memberId}, #{contents}, #{delAt}, #{regId}, #{regDt}, #{updId}, #{updDt})
  </insert>

  <update id="deleteDiaryComment">
    UPDATE TB_DIARY_COMMENT
        SET DEL_AT = #{delAt},
            UPD_ID = #{updId},
            UPD_DT = #{updDt}
    WHERE
        DIARY_COMMENT_ID = #{diaryCommentId}
  </update>
</mapper>
