<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pado.socialdiary.api.diary.mapper.DiaryMapper">
  <insert id="insert" parameterType="com.pado.socialdiary.api.diary.entity.Diary" useGeneratedKeys="true">
    INSERT INTO TB_DIARY(MEMBER_ID, TITLE, CONTENTS, REG_ID, REG_DT, UPD_ID, UPD_DT)
    VALUES (#{memberId}, #{title}, #{contents}, #{memberId}, NOW(), #{memberId}, NOW())
  </insert>

  <insert id="saveHistory" parameterType="com.pado.socialdiary.api.diary.entity.DiaryHistory" useGeneratedKeys="true">
    INSERT INTO TB_DIARY_HISTORY(DIARY_ID, MEMBER_ID, TITLE, CONTENTS, REG_ID, REG_DT, UPD_ID, UPD_DT)
    VALUES (#{diaryId}, #{memberId}, #{title}, #{contents}, #{memberId}, NOW(), #{memberId}, NOW())
  </insert>

  <select id="getByMemberId" resultType="com.pado.socialdiary.api.diary.entity.Diary">
    SELECT * FROM TB_DIARY WHERE MEMBER_ID=#{memberId}
  </select>

  <select id="getByDiaryId" resultType="com.pado.socialdiary.api.diary.entity.Diary">
    SELECT * FROM TB_DIARY WHERE DIARY_ID=#{diaryId}
  </select>

  <update id="update" parameterType="com.pado.socialdiary.api.diary.entity.Diary">
    UPDATE TB_DIARY SET MEMBER_ID = #{memberId}, TITLE = #{title}, CONTENTS = #{contents}, UPD_ID = #{memberId}, UPD_DT = NOW() WHERE DIARY_ID = #{diaryId}
  </update>

  <delete id="delete">
    DELETE FROM TB_DIARY WHERE DIARY_ID = #{diaryId}
  </delete>

  <delete id="deleteHistory">
    DELETE FROM TB_DIARY_HISTORY WHERE DIARY_ID = #{diaryId}
  </delete>

  <select id="select" resultType="com.pado.socialdiary.api.diary.entity.Diary">
    SELECT * FROM TB_DIARY
    <choose>
      <when test="diaryId!=null">
        WHERE DIARY_ID = #{diaryId}
      </when>
      <when test="memberId!=null">
        WHERE MEMBER_ID = #{memberId}
      </when>
      <when test="regDt!=null">
        WHERE DATE_FORMAT(REG_DT, '%Y-%m-%d') = DATE_FORMAT(#{regDt},'%Y-%m-%d')
      </when>
    </choose>
  </select>

</mapper>
