<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pado.socialdiary.api.follow.mapper.FollowMapper">
  <insert id="createFollowing" parameterType="com.pado.socialdiary.api.follow.entity.Follow" useGeneratedKeys="true">
    INSERT INTO TB_FOLLOW(FOLLOWER_MEMBER_ID, FOLLOWEE_MEMBER_ID)
    VALUES (#{followerMemberId}, #{followeeMemberId})
  </insert>

  <delete id="deleteFollowing">
    DELETE FROM TB_FOLLOW
    WHERE FOLLOWER_MEMBER_ID=#{followerMemberId} AND FOLLOWEE_MEMBER_ID=#{followeeMemberId}
  </delete>

  <select id="existFollowing" resultType="Integer">
    SELECT FOLLOW_ID FROM TB_FOLLOW
    WHERE FOLLOWER_MEMBER_ID=#{followerMemberId} AND FOLLOWEE_MEMBER_ID=#{followeeMemberId} LIMIT 1
  </select>

  <select id="findFollowee" resultType="Integer">
    SELECT FOLLOWEE_MEMBER_ID FROM TB_FOLLOW
    WHERE FOLLOWER_MEMBER_ID=#{followerMemberId}
  </select>
</mapper>
