<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pado.socialdiary.api.moduel.guest_book.mapper.GuestBookMapper">
    <insert id="saveGuestBook" parameterType="com.pado.socialdiary.api.moduel.guestbook.entity.GuestBook" useGeneratedKeys="true">
        INSERT INTO TB_GUEST_BOOK(HOST_MEMBER_ID, GUEST_MEMBER_ID, CONTENTS, REG_ID, REG_DT, UPD_ID, UPD_DT)
        VALUES (#{hostMemberId}, #{guestMemberId}, #{contents}, #{guestMemberId}, #{regDt}, #{guestMemberId}, #{updDt})
    </insert>

    <select id="findGuestBook" resultType="com.pado.socialdiary.api.moduel.guestbook.entity.GuestBook">
        SELECT * FROM TB_GUEST_BOOK
        WHERE HOST_MEMBER_ID=#{memberId}
        ORDER BY REG_DT DESC
    </select>

    <delete id="deleteGuestBook">
        DELETE FROM TB_GUEST_BOOK WHERE GUEST_BOOK_ID = #{guestBookId}
    </delete>
</mapper>
