<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pado.socialdiary.api.guest_book.mapper.GuestBookMapper">
    <insert id="add" parameterType="com.pado.socialdiary.api.guest_book.entity.GuestBook">
        INSERT INTO guestbook(GuestBookId, MemberId, Cn, regDt)
        VALUES (#{GuestBookId}, #{MemberId}, #{Cn}, #{regDt})
    </insert>
</mapper>
